:root{
    --titleSize:40px;
    --txtSize:20px;
    --tblSize:30px;
}

body{
    text-align: center;
    margin:auto;
    width: 95%;
}

p{
    font-size: var(--txtSize);
}

.title{
    font-weight: bold;
    font-size: var(--titleSize);
}

.imp{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

#photoAlt{
    opacity: 0;
    font-size: 100px;
}

#imgHolder{
	position: relative;
	width: 80%;
    margin:auto;
    margin-top: 30px;
	max-width: 100%;
	height: 1000px;
    align-items: center;
}

#imgHolder img{
	position: absolute;
    top:0;
    left:0;
    padding:auto;
    width: 100%;
}

#myPhoto{
    opacity: 100%;
}

#myPhoto2{
    opacity: 0%;
}

#generalInfo{
    border: solid 3px black;
    padding: 5%;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

th{
    border-bottom: solid 3px black;
}

td{
    border-bottom: solid 3px black;
    font-size: var(--tblSize);
}

.wordInfo{
    width: 80%;
    margin: auto;
}

.wordInfo p{
    text-align: left;
}

.shortCol{
    width: 150px;
}

.carrerCol{
    text-align: left;
}

#ErrDiv{
    display: none;
}

#MainDiv{
    display:block;
}

#errorMsg{
    background-color:yellow;
    font-weight: bolder;
}


@media screen and (max-width: 959px) {
    :root{
        --titleSize:30px;
        --txtSize:20px;
        --tblSize:20px;
    }

    table{
        width: 80%;
    }

    .wordInfo{
        width: 80%;
    }

    #imgHolder{
        height: 500px;
    }

    #imgHolder img{
        width: 100%;
    }

    #photoAlt{
        font-size: 80px;
    }
}
@media screen and (max-width: 480px) {


    :root{
        --titleSize:30px;
        --txtSize:15px;
        --tblSize:15px;
    }

    table{
        width: 100%;
        margin: 0;
    }

    .wordInfo{
        width: 100%;
        margin: 0;
    }

    #imgHolder{
        height: 200px;
    }

    #imgHolder img{
        width: 100%;
    }

    #photoAlt{
        font-size: 40px;
    }

}
